/* CURRENTLY IN: styles/main.css */
html, body {
	height: 100%;
	width: 100%;
	min-height: 100%;
}

#soundcloud-player .col {
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#soundcloud-player .col-left {
	width: 20%;
	height: 100%;
	background-color: #292929;
	overflow: auto;

	position: fixed;
	left: 0;
	top: 0;

	z-index: 1;
}

#soundcloud-player .col-right {
	width: 100%;
	height: 100%;
	overflow: auto;

	position: fixed;
	left: 0;
	top: 0;

	box-sizing: border-box;
	padding-left: 20%;
}

#soundcloud-player .main {
	box-sizing: border-box;
	padding: 30px;
	margin: 30px;
}

#soundcloud-player .input {
	width: 100%;
	min-width: 200px;
}

#soundcloud-player .input-search {
	width: 100%;
	display: block;
}

#soundcloud-player .search.icon {
	pointer-events: initial;
	cursor: pointer;
}

#soundcloud-player .search-results {
	justify-content: center;
	margin-top: 30px;
}

.image-img{
	width: 290px;
	height:290px;
}

#playlistBtn {
	display: none;
}

#mobileBtn {
	display: none;
}

@media only screen and (min-device-width : 1001px) {
	#soundcloud-player .col-left {
		width: 20%;
		height: 100%;
		background-color: #292929;
		overflow: auto;
		position: fixed;
		left: 0;
		top: 0;
		z-index: 1;
		display: block;
	}
	#soundcloud-player .col-right {
		width: 100%;
		height: 100%;
		overflow: auto;
		position: fixed;
		left: 0;
		top: 0;
		display: block;
		box-sizing: border-box;
		padding-left: 20%;
	}
}

@media only screen and (max-device-width : 1000px) {
	.main {
		margin: 0;
		padding: 0;
	}
	#soundcloud-player .col-left {
		background-color: white;
		padding-top: 10%;
		height: 100%;
		display: none;
		position: fixed;
		width: 100% !important;
	}
	#soundcloud-player .col-right {
		width: 100%;
		height: 100%;
		overflow: auto;
		position: fixed;
		left: 0;
		top: 0;
		box-sizing: border-box;
		padding-left: 0%;
		font-size: 70%;
		display: block;
	}
	#playlistBtn {
		background-color: #292929;
		border: none;
		color: white;
		text-align: center;
		text-decoration: none;
		display: block;
		font-size: 1em;
		width: 100%;
		height: 100%;
	}
	#mobileBtn {
		width: 100%;
		display: block;
		position: fixed;
		height: 50px;
		top: 0;
		z-index:100;
	}
	.ui.container {
		margin-left: 0em!important;
	}
}
